<div class="portlet-container col-lg-12">
    <div class="portlet-section-header">{{ msgs['title'] }}</div>

    <div class="portlet-section-body">
        <form>
            <fieldset>
                <legend>portlet infos</legend>
                <p>uid : {{uid}}</p>
                <p>portletMode : {{portletMode}}</p>
                <p>windowState : {{windowState}}</p>
            </fieldset>
            <fieldset>
                <legend>Ajax</legend>
                <div>
                    <label>URL :</label>
                    <input type="text" ng-model="url">
                    <input type="button" value="OK" ng-click="getContent()">
                </div>
                <div>
                    <label>Return :</label>
                    <p>{{content}}</p>
                </div>
            </fieldset>
        </form>
    </div>
</div>

