<div class="portlet-container col-lg-12">
    <div class="portlet-section-header">{{ msgs['title'] }}</div>

    <div class="portlet-section-body">
        <form>
            <fieldset>
                <legend>portlet infos</legend>
                <p>pref1 : {{pref1}}</p>
                <p>uid : {{uid}}</p>
                <p>portletMode : {{portletMode}}</p>
                <p>windowState : {{windowState}}</p>
            </fieldset>
            <fieldset ng-hide="isMinimized()">
                <legend>Ajax</legend>
                <div>
                    <label>Action :</label>
                    <input type="button" value="date" ng-click="getContent(false)">
                    <input type="button" value="date and time" ng-click="getContent(true)">
                </div>
                <div>
                    <label>Return :</label>
                    <p>{{content}}</p>
                </div>
            </fieldset>
        </form>
    </div>
</div>

